<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.codex.h53direct">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="28" />
    <uses-permission android:name="mega.car.permission.Navigation" />
    <uses-permission android:name="mega.car.permission.ADAS" />
    <uses-permission android:name="mega.car.permission.CAR_DRIVING" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:roundIcon="@drawable/app_icon"
        android:label="岚图追光&amp;百度地图V21 HUD投射 By非洲小白脸"
        android:theme="@style/AppTheme">
        <service
            android:name="dev.codex.voyahhud.BridgeService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <receiver
            android:name="dev.codex.voyahhud.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <activity
            android:name="dev.codex.voyahhud.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
